.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;

	padding-block: 0.5em;

	.headerLeft {
		display: flex;
		align-items: center;

		img {
			object-fit: contain;
			height: 60px;
			margin-left: 5px;
		}
	}

	.headerMiddle {
		display: flex;
		align-items: center;

		flex: 0.7;

		background-color: whitesmoke;

		padding: 0.75em;
		border-radius: 0.25em;

		svg {
			color: grey;
		}

		input {
			border: none;
			width: 100%;

			padding: 0.75em;

			background-color: transparent;

			font-size: 1.125rem;
		}
	}

	.headerRight {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		padding-right: 1.25rem;
	}
}
